/*
baseui
based on the idea of ITCSS
https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*/
//
//
//
/* --------------------------------------------------------------------------------
SETTINGS: variables
 */
@import "settings.global";
@import "settings.colors";
@import "settings.radius";
@import "settings.fonts";
@import "settings.breakpoints";
//
//
//
/* --------------------------------------------------------------------------------
TOOLS: mixins, helpers, functions, ...
 */
@import "tools.mixins";
@import "tools.mappy-breakpoints";
//
//
//
/* --------------------------------------------------------------------------------
GENERIC: default behaviour for html, body
 */
@import "generic.base";
@import "generic.print";
//
//
//
/* --------------------------------------------------------------------------------
ELEMENTS: default styles for html-elements
 */
@import "elements.form";
@import "elements.typography";
@import "elements.table";
//
//
//
/* --------------------------------------------------------------------------------
OBJECTS: higher level CSS-CLASSES; no cosmetic design patterns
"classed" html.elements: "better" styling for html-elements (for example by adding .form to form-element)
layout-classes (row, grid)
 */
@import "objects.button";
@import "objects.divider";
@import "objects.form";
@import "objects.grid";
@import "objects.image";
@import "objects.input";
@import "objects.table";
@import "objects.panel";
@import "objects.row";
@import "objects.card";
@import "objects.copy";
@import "objects.hero";
@import "objects.menu";
//
//
//
/* --------------------------------------------------------------------------------
COMPONENTS: collections of objects; specific UI-styling
pages, page-elements, widgets
 */
//
//
//
/* --------------------------------------------------------------------------------
TRUMPS: overrides, hacks, defence-files
 */
@import "trumps.utilities";
@import "trumps.custom";
