/**
.content is the container for structured copytext (mostly from wysiwyg-editors)
 */
.content {

    //a container for sections sinside of .content. usefull for "not-paragraph-content" like galleries, maps, ...
    &__section {
        display: block;
        margin-bottom: $space*2;
        position: relative;
        width: 100%;
    }

    //a dedicated class for the main headline
    &__title {
        @include baseui-fontsize($font-size-base*2);
    }

    //lead/entry text
    &__lead {
        @include baseui-fontsize($font-size-base*1.5, 1.5);
        margin-bottom: $space*1.5;
    }

    //copytext
    &__text {

        //give headlines a little space
        h1, h2, h3, h4, h5, h6 {
            margin-top: $space*2;
        }
        //use owl selector for content sections (paragraphs, lists, ...)
        //> * + * {
        //    //margin-bottom: $space*2;
        //}

        //direct children of type p
        > p + p {
            margin-bottom: $font-size-base;
        }

        //hide empty nodes, especially useful when using wysiwyg editors
        &:empty {
            display: none;
        }

    }
}

