input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
    background-color: $color-body;
    border: 1px solid darken($color-border, 15%);
    border-radius: $border-radius-default;
    box-shadow: none;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    width: 100%;
    transition: all .3s;

    &:focus {
        border: 1px solid darken($color-border, 25%);
        box-shadow: 0 0 5px $color-darkgray;
        outline: 0;
    }

}


button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: $color-button-bg;
    //border: 0px solid transparent;
    border: .1rem solid $color-button-border;
    border-radius: $border-radius-button;
    color: $color-font;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.5rem 2rem;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
    white-space: nowrap;

    &:hover,
    &:focus {
        background-color: lighten($color-button-bg, 5%);
        color: $color-font;
        outline: 0;
    }

}


input[type='checkbox'],
input[type='radio'] {
    display: inline;
    //
    //overflow: hidden;
    //clip: rect(0 0 0 0);
    //height: 1px;
    //width: 1px;
    //margin: -1px;
    //padding: 0;
    //border: 0;
}


select {
    appearance: none;
    background: lighten($color-body, 20%) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyOSAxNCIgd2lkdGg9IjI5Ij48cGF0aCBmaWxsPSIjZDFkMWQxIiBkPSJNOS40IDMuNmw1IDcgNS4yLTciLz48L3N2Zz4=) center right no-repeat;

    &:focus {
        border: 1px solid darken($color-border, 20%);
        background-image: lighten($color-body, 20%) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyOSAxNCIgd2lkdGg9IjI5Ij48cGF0aCBmaWxsPSIjOWI0ZGNmIiBkPSJNMTkuNiAzLjZIOS40bDUgNyIvPjwvc3ZnPg==);
    }
}


option {
    padding: 1rem;
}


textarea {
    min-height: 6.5rem;
}


fieldset {
    padding: 2rem;
    border: 1px solid $color-border;
}


label,
legend {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    margin-bottom: .6rem;
}


legend {
    color: $color-border;
    font-size: 2.2rem;
    font-weight: 300;
    padding: 1rem;
    text-transform: uppercase;
}


button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


input,
button,
select,
textarea {
    margin: 0;
    line-height: inherit;
    border-radius: $border-radius-default;
}


textarea {
    resize: vertical;
}


fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}


legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
}


input[type="search"] {
    box-sizing: inherit;
    -webkit-appearance: none;
}


/*
from normalize
*/

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}


/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* 2 */
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}


/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}


/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}
