//todo build offset or span-columns
//todo modifiers for alignment left/center/right
/**
<div class="grid grid--gutter grid--small-2 grid--medium-3 grid--large-4">
    <div class="grid__item">
        <div class="card">
            <div class="card__image">
                <img class="image--responsive" src="/baseui/baseui-card-image.png" alt="nope">
            </div>
            <div class="card__content">
                <div class="card__title">Card-Title 1</div>
                <div class="card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium amet debitis dicta dolorem eius!</div>
                <a class="button card__link">los gehts</a>
            </div>
        </div>
    </div>
    <div class="grid__item">
        ...
    </div>
    <div class="grid__item">
        ...
    </div>
    <div class="grid__item">
        ...
    </div>
</div>
 */
$grid-colums: 2 3 4;

//the container-el for the grid
.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include bp(small) {
        flex-direction: row;
    }

    //grid__item = column
    &__item {

    }

    //is the grid guttered?
    &--gutter {
        margin: 0;

        @include bp(small) {
            margin: $space -$space 0 -$space;
        }

        //attributes for gid__items in a guttered grid
        .grid__item {
            padding: 0;
            display: flex;

            @include bp(small) {
                padding: $space $space 0 $space;
            }
        }
    }

    //columns for breakpoint small and up
    @include bp(small) {
        @each $i in $grid-colums {
            &--small-#{$i} .grid__item {
                flex: 0 0 calc(100% / #{$i});
                max-width: calc(100% / #{$i});
            }
        }
    }

    //columns for breakpoint medium and up
    @include bp(medium) {
        @each $i in $grid-colums {
            &--medium-#{$i} .grid__item {
                flex: 0 0 calc(100% / #{$i});
                max-width: calc(100% / #{$i});
            }
        }
    }

    //columns for breakpoint large and up
    @include bp(large) {
        @each $i in $grid-colums {
            &--large-#{$i} .grid__item {
                flex: 0 0 calc(100% / #{$i});
                max-width: calc(100% / #{$i});
            }
        }
    }

    //columns for breakpoint huge and up
    @include bp(huge) {
        @each $i in $grid-colums {
            &--large-#{$i} .grid__item {
                flex: 0 0 calc(100% / #{$i});
                max-width: calc(100% / #{$i});
            }
        }
    }

}