.panel {
    @include baseui-fontsize($font-size-base);

    background-color: $color-lightgray;
    border: 1px solid darken($color-lightgray, 15%);
    border-radius: $border-radius-default;
    margin: $space*.5 0;
    padding: $space;

    &--info {
        border-color: darken($color-info, 15%);
        background-color: $color-info;
    }

    &--success {
        border-color: darken($color-success, 15%);
        background-color: $color-success;
    }

    &--warning {
        border-color: darken($color-warning, 15%);
        background-color: $color-warning;
    }

    &--failure {
        border-color: darken($color-failure, 15%);
        background-color: $color-failure;
    }
}