/**
<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="#">Item 1</a></li>
        <li class="menu__item menu__item--active"><a class="menu__link" href="#">Item 2</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Item 3</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Item 4</a></li>
    </ul>
</nav>
<nav class="menu menu--vertical">
    <ul class="menu__list ">
        <li class="menu__item"><a class="menu__link" href="#">Item 1</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Item 2</a></li>
        <li class="menu__item menu__item--active"><a class="menu__link" href="#">Item 3</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Item 4</a></li>
    </ul>
</nav>
 */
.menu {

    //the ul
    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        height: 100%;

        @include bp(small) {
            flex-direction: row;
        }
    }

    //vertical menu
    &--vertical {
        .menu__list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
        }
    }

    //th li
    &__item {
        transition: all 0.5s;
        display: flex;
        flex: 1 0 0%;

        //state active
        &--active, &--ancestor--active {
            background-color: $color-lightgray;
        }

        &--parent {
        }

    }

    //a-elements
    &__link {
        align-items: center;
        color: $color-link;
        display: flex;
        flex: auto;
        font-size: 1.6rem;
        font-weight: 300;
        justify-content: center;
        padding: $space;

        &--disabled {
            cursor: not-allowed;
        }

        &:hover, &:focus {
        }
    }

    //sub-menu
    &__sub-menu {

        &__item {
        }
    }
}