/**
<header class="row page__header" role="banner"></header>
<main class="row row--centered page__main"></main>
 */
.row {
    display: block;
    width: 100%;

    &--centered {
        padding: 0 $space;
        margin: 0 auto;

        @include bp(small) {
            width: map-get($breakpoints, 'small');
        }

        @include bp(medium) {
            width: map-get($breakpoints, 'medium');
        }

        @include bp(large) {
            width: map-get($breakpoints, 'large');
        }

        @include bp(huge) {
            width: map-get($breakpoints, 'huge');
        }
    }

    &--spaced {
        padding-bottom: $space*5;
        padding-top: $space*5;
    }

}
