// Colors
//
// Color definitions
//
// Weight: 20
//
// $color-primary -  #1384d3, Primary or Brand color
// $color-secondary - #51b8f4, Secondary color
// $color-lightgray - #F7F7F7, Light gray
// $color-gray  -  #cbcbcb, Gray
// $color-darkgray  -  #5a5a5a, Dark gray
// $color-body -  #ffffff, Body background-color
// $color-font -  #cbcbcb, Default color for text
// $color-success -  #4dff91, Success
// $color-info -  #dcf7ff, Info
// $color-warning -  #ffbc2b, Warning
// $color-failure -  #ff6e68, Failure
//
// Styleguide Settings.Colors

$color-primary: #1384d3; //primary or brand color
$color-secondary: #51b8f4;
$color-lightgray: #F7F7F7;
$color-gray: #cbcbcb;
$color-darkgray: #5a5a5a;
$color-body: #ffffff; //the color for the background of the page (body-element)
$color-font: #202020; //default color for text

//user feedback
$color-success: #4dff91;
$color-info: #dcf7ff;
$color-warning: #ffbc2b;
$color-failure: #ff6e68;

//computed/derived colors
$color-border: darken($color-lightgray, 5%); //default color for borders
$color-button-bg: darken($color-lightgray, 10%); //default-bg-color for buttons
$color-button-border: lighten($color-darkgray, 15%); //default-color for buttons-buttons
$color-link: $color-primary; //default-color for links