.clearfix {
    *zoom: 1;

    &:after,
    &:before {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}


.centered {
    text-align: center;
}


.hidden {
    display: none;
}


.no-border {
    border: none;
}


//todo where to put this?
.align {
    &--center {
        text-align: center;
    }
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    }
}